<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    {% for id, produto in produtos.items() %}
        <h2>{{ produto['nome'] }}</h2>
        <p>{{ produto['descricao'] }}</p>
        <p>Preço: R$ {{ produto['preco'] }}</p>
        <a href="{{ url_for('detalhe_produto', id=id) }}">Ver detalhes</a>
    {% endfor %}
</body>
</html>